
<div class="row">
  <div class="col-1" id="col1">
     <div type="button" class="new-note-btn"><img src="https://icons-for-free.com/iconfiles/png/512/add+icon+dashboard+new+icon-1320165656853017350.png" style="height: 40px;"></div>
     <div type="button" class="all-notes"><img src="https://img.icons8.com/nolan/64/google-keep.png" style="height: 30px;"/>Note</div>
     <div type="button">Trash</div> 
     <div type="button" class="power"><img src="https://img.icons8.com/ios/50/000000/power-off-button--v2.png" style="height: 30px"/></div>
  </div>

  <div class="col-3" id="col2">
    {{#each notes}}
      <div class="notes" data-id="{{this._id}}">
        {{#if title}}
          <h5>{{this.title}}</h4>
        {{else}}
          <h5>No title</h5>
        {{/if}}
        <p>{{this.description}}</p>
      </div>
    {{/each}}
  </div>

  <div class="col-8 content-detail" id="col3">
    <form class="note-detail-form">
      <input name="title" type="text" class="txt-title" placeholder="Title">
      <textarea name="description" class="txt-description">{{description}}</textarea>
      <div class="button-submit">
        <button type="submit" class="update-btn" id="button">Update</button>
        <button type="submit" class="delete-btn" id="button">Delete</button>
      </div>
    </form>
  </div>
</div>

{{!-- form submit --}}
<form name="create-note-form" method="POST"></form>
<form name="display-note-form" method="GET"></form>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var noteId;
    var newNoteBtn = $('.new-note-btn');
    var allNoteBtn = $('.all-notes');

    // when click note item
    /*$('.notes').click(function() {
      noteId = $(this).data('id');
      var title = $(this).children().first().text();
      var description = $(this).children().last().text();
      $('.txt-title').val(title);
      $('.txt-description').val(description);

      // remove all css
      $('.notes').removeClass('highLightedItem');
      // add effect
      $(this).addClass('highLightedItem');

     // history.pushState({}, "", "/" + noteId);
    });
    */
    
    allNoteBtn.click(function() {
      $.ajax({
        url: '/notes/' + noteId,
        contentType: 'application/json',
        success: function(response) {
          $('#col2').html('');
          response.notes.forEach(note => {
            $('#col2').append(`
              <div class="notes" data-id="` + note._id + `">  
                <h5>` + note.title + `</h4>
                <p>` + note.description + `</p>
              </div>
            `);
          });

          // remove all css
          $('.notes').removeClass('highLightedItem');
          // add effect
          $('.notes').first().addClass('highLightedItem');
          var title = $('.notes').first().children().first().text();
        }
      });
    });

// --------------------------------------------------------------------
    

// ---------------------------------------------------------------------
    // when click Update 
    $('.note-detail-form').on('submit', function(event) {
      event.preventDefault();

      let title = $('.txt-title').val();
      let description = $('.txt-description').val();

      $.ajax({
        url: '/notes/' + noteId,
        method: 'PUT',
        contentType: 'application/json',
        data: JSON.stringify({ title, description }),
        success: function(response) {
          console.log(response);
        }
      });
    });
  // -------------------------------------------------------------------
    // DELETE
    // when click DELETE
    $('.note-detail-form').on('click', '.delete-btn', function() {
      $.ajax({
        url: '/notes/' + noteId,
        method: 'DELETE',
        contentType: 'application/json',
        success: function(response) {
          console.log(response);
        }
      });
    });
  });
</script>